@charset "utf-8";
/* 초기화 */
body, h1, ul { margin: 0; padding: 0; }
ul li { list-style: none; }
a { text-decoration: none; color: #000; }
/* gallery */
#gallery { position: relative; width: 600px; margin: 50px auto 0;
          padding: 20px; border: 1px solid #000; }
#gallery h1 { margin-bottom: 30px; text-align: center; }
#gallery > img { width: 600px; }
/* photoList */
#photoList { overflow: hidden; width: 360px; margin: 0 auto; border: 2px solid #f00; }
#photoList ul { width: 960px; display: flex; }
#photoList ul li { width: 100px; padding: 10px; }
#photoList ul li img { width: 100px; }
/* 버튼 */
#btnWrap a { position: absolute; bottom: 20px; font-size: 100px; }
#btnWrap a.prev { left: 50px; }
#btnWrap a.next { right: 50px; }
